
$text-color: rgb(255, 255, 255);
$accent-color: rgb(177, 62, 62);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left, #504c4c, #dfeef0);

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.24);
        width: 80%;
        padding: 80px;
        border: 2px solid $accent-color;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        gap: 20px;

        h1 {
            color: $text-color;
            font-size: 6rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .counter-container {
            display: flex;
            align-items: center;
            gap: 20px;
          }
      
          button {
            padding: 10px 20px;
            font-size: 5rem;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.507);
            color: $accent-color;
            border: 2px solid $accent-color;
            border-radius: 8px;
            transform: ease-in-out 0.2s;

            &:hover {
              background-color: black;
              transform: translate(0, -2px);
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
          }
      
          .value {
            font-size: 3.6rem;
            padding: 30px 60px;
            background-color: rgba(0, 0, 0, 0.507);
            border: 2px solid $accent-color;
            border-radius: 8px;
            color: $text-color;
            min-width: 60px;
            text-align: center;
          }


          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
      
            li {
              a {
                color: #ffffff;
                font-size: 2.6rem;
              }
      
              a:hover {
                color: $accent-color;
              }
            }
          }
      
          p {
            color: $text-color;
            font-size: 0.9rem;
          }
        }
      
    }
